@import '../variables.scss';

.image{
  height: 200px;
  width: 200px;
  overflow: hidden;
  object-fit: cover;
}

.cardBlock{
  width: 200px;
  cursor: pointer;
  padding: 20px;
  transition: all $duration ease-in-out;

  &:hover{
    opacity: 0.3;
  }
}

